/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px 130px;
}
.primary-p-style{
    color: #534C64;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}
.primary-btn{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: #FF42A5;
    border-radius: 48px;
    border: none;
}
.primary-btn:hover{
    transition: 0.5s;
    box-shadow: 3px 3px 3px gray;
}

/* header nav bar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0px -8rem;
}

.nav-h1 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
}

.nav-g {
    color: #FF42A5;
}

.nav-about {
    display: flex;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

ul>li {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.last-li {
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.fa-youtube,
.fa-tiktok {
    width: 10px;
    font-size: 25px;
}

.span-gap {
    padding: 15px;
}

/* banner section */

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28%;
    background-image: url(../images/banner-back.png);
}


.banner-h2-1 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
}

.banner-h2-2 {
    font-size: 85px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-green{
    background-color: #4EC5F7;
}
.banner-right-container > img{
    width: 100%;
}
/* main section  */
/* online section */
.online-title-container{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
}
.online-h3{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.funny-video{
    color: #F948B2;
}
.online-p{
    margin-top: 12px;
    color: #534C64;
    font-weight: 400;
    font-size: 18px;
}

.online-container{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.game{
    width: 251px;
}
.game-container > p{
    margin-top: 0.5rem;
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
}
/* overlay style */
.game-container{
    position: relative;
    /* overflow: hidden; */
    display: inline-block;
    /* margin: 10px; */
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 84%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 12px;
    gap: 10px;
}
.game-container:hover .overlay{
    opacity: 1;
}
.play-icon{
    color: #fff;
    font-size: 40px;
    border-radius: 10px solid #fff;
}
.overlay p{
    color: #FF42A5;
    font-size: 20px;
}
/* instant section */
.instant-section{
    margin-top: 100px;
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: space-between;
}
.instant-text > h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 125%;
    text-align: right;
}
.instant-text > p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 166.66%;
    text-align: right;
}
.instant-img > img{
    width: 465px;
    
}
.cat > img{
    width: 170px;
}
.cat{
    position: relative;
    bottom: 150px;
    right: 50px
}
/* game icons with name */
.game-catagories{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    
}
.catagories{
    display:flex;
    align-items: center;
    color: #0B0223;
    font-size: 15px;
    font-weight: 600;
}
.catagories:hover{
    transition: 0.5s;
    color: #FF42A5;
    border-radius: 30px ;
    border: 1px solid #FF42A5;
    box-shadow: 2px 2px 2px gray;
}
/* footer styles */
footer{
    background-color: black;
    padding: 10px;
    margin: 0 -130px;
    margin-top: 70px;
}
.footer-gamer{
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 147px;
}
.footer-story{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 30px;

}
.footer-icon{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 30px;
    gap: 30px;
}
.footer-p{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}
.p2{
    gap: 30px;
}

/* media query styles here */
/* for mobile  x-small*/
@media screen and (max-width:576px) {

    nav,
    .nav-ul,
    .banner-section,
    .online-container,
    .instant-section
    {
        flex-direction: column;
        align-items: center;
    }

    nav {
        height: 13rem;
        margin-bottom: 3rem;
    }

    .nav-ul {
        gap: 1rem;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    body{
        width: 50%;
    }
    .banner-left-container{
        margin-top: 50px;
        width: 190%;
        text-align: center;
    }
    .banner-right-container > img{
        margin-top: 2rem;
    }
    .online-title-container{
        flex-direction: row;
    }
    .online-p{
        margin-top: 100px;
    }
    .instant-text > h3 , .online-h3{
        text-align: center;
        margin: -70px;
    }
    .instant-text > p{
        padding-top: 100px;
        margin: -80px;
        text-align: center;
    }
    .instant-img > img{
        width: 305px;
    }
    .cat > img {
        width: 135px;
         
    }
    .cat{
        bottom: 120px;
    }
    .game-catagories{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    footer{
        margin-top: 70px;
        padding: 80px;
        margin: 0px -172px;
    }
}


/* for tablet large */
@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .nav-ul {
        flex-direction: column;
    }

    nav {
        height: 15rem;
    }
    .game{
        width: 160px;
    }
    .banner-section{
        gap: 3%;
    }
    .banner-right-container > img{
        width: 320px;
    }
    .instant-img > img {
        width: 380px;
    }
    .instant-text > h3{
        margin: -100px;
    }
    .instant-text > p{
        margin-top: 120px;
    }
}